body {
  background-color: #212121;
}

#thing {
  -webkit-transition: all 1s;
  transition: all 1s;
}

@-webkit-keyframes fade {
  50% {
    opacity: 0%;
  }
}

@keyframes fade {
  50% {
    opacity: 0%;
  }
}

